In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stats
import arviz as az
import numpy as np

In [10]:
flows = pd.read_csv(r"..\..\UK-wood-end-use-flows\build\flows.csv")
flows_obs= pd.read_csv(r'..\..\UK-wood-end-use-flows\build\flows_obs.csv')
Observations = pd.read_excel(r"..\..\UK-wood-end-use-flows\data\observations_with_references.xlsx")
flows_name = pd.read_excel(r'..\..\UK-wood-end-use-flows\lists\flows_name.xlsx')

In [ ]:
#This notebook calculates the percentage of wood fibres extracted nationanlly and used for product, paper and construction
#manufacturing of the total volume of wood fibres extracted nationanlly and imported for product, paper 
#and construction manufacturing (direct material input).

In [11]:
flows_name = list(flows_name.to_records())
flows_obs_list = list(flows_obs.to_records())

In [12]:
link = 'http://ukfires.org/analyses/UK-wood/system/'
Consumption = 'Consumption'

In [13]:
#Domestric extraction for products applications
link = 'http://ukfires.org/analyses/UK-wood/system/'
consumed_products = []
for flow in flows_name:
            consumption_flow_products = flows.loc[(flows['material'] == flow[3]) 
                                       & (flows['source'] == flow[1])
                                       & (flows['target'] == flow[2])]
            if (
                 ((link + 'WBPFibresSoftwoodRoundwood') in flow[2])
                or ((link + 'WBPFibresByProducts') in flow[2])
                or ((link + 'SawmillsSoftwood') in flow[2])
                or ((link + 'SawmillsHardwood') in flow[2])
                or ((link + 'WoodWoolAndFlourManufacturing') in flow[2])
                or ((link + 'PulpmillsByProducts') in flow[2])
                or ((link + 'RecycledWoodFibreProcessingForPallets') in flow[2])
                or ((link + 'RoundwoodToFencingAndOutdoor') in flow[2])
                or ((link + 'NewPulpMaking') in flow[2])
                or ((link + 'PulpmillsRecycledPaper') in flow[2])
                or ((link + 'WBPFibresRecycledWoodFibre' ) in flow[2])):
                    if ((('exports') not in flow[2])
                       # and (('imports') not in flow[1])
                      #  and (('Manufacturing') not in flow[1])
                        and (('RMI') not in flow[1])
                        and (('Repair') not in flow[1])
                        ):
                      
                                                            
                                        consumption_flow_products = consumption_flow_products.set_index("source")
                          


                                        consumption_products_renamed= consumption_flow_products.rename(index={
                                             link + 'SoftwoodRoundwood' : 'Total',
                                            link + 'HardwoodRoundwood': 'Total',
                                           link + 'RecycledWoodFibre' : 'Total',
                                          link + 'ByProducts' : 'Total',
                                             link + 'RecycledPaper' : 'Total',
                                        


                                                                                                                })

                                                                                                             

                                        consumed_products.append(consumption_products_renamed)

                   
consumed_products = pd.concat(consumed_products)  


#print(consumed_products)                        
#consumed_products = pd.DataFrame(consumed_products, columns= [ "source", "target", "material", "value", "sample"])
consumed_products = consumed_products.groupby(['source','sample']).sum()
consumed_products = consumed_products.reset_index(level='sample')
consumed_products= consumed_products.reset_index(level='source')
consumed_products.to_clipboard()
consumed_products['value']=consumed_products['value']

C:\Users\rla44\AppData\Local\Temp\ipykernel_5864\2057822559.py:53: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  consumed_products = consumed_products.groupby(['source','sample']).sum()

In [14]:
extracted_nationally= consumed_products.drop(['source'], axis=1)
extracted_nationally

       sample         value      quantity
0           0  1.919197e+10  1.919197e+10
1           1  1.947769e+10  1.947769e+10
2           2  2.034934e+10  2.034934e+10
3           3  1.905281e+10  1.905281e+10
4           4  1.937487e+10  1.937487e+10
...       ...           ...           ...
29995    9995  0.000000e+00  0.000000e+00
29996    9996  0.000000e+00  0.000000e+00
29997    9997  0.000000e+00  0.000000e+00
29998    9998  0.000000e+00  0.000000e+00
29999    9999  0.000000e+00  0.000000e+00

[30000 rows x 3 columns]

In [15]:
#Imports
link = 'http://ukfires.org/analyses/UK-wood/system/'
consumed_products_0 = []
for flow in flows_name:
            consumption_flow_products = flows.loc[(flows['material'] == flow[3]) 
                                       & (flows['source'] == flow[1])
                                       & (flows['target'] == flow[2])]
            if ((('imports ') in flow[1])):
                if ((('imports '+ link +'HardwoodRoundwood') not in flow[1])
                        and (('imports ' + link +'ForestResidues') not in flow[1])
                        and (('imports ' + link +'OtherEnergyFeedstocks') not in flow[1])
                        and (('imports ' + link +'OtherEnergyFeedstocksWoodFibres') not in flow[1])
                     and (('imports ' + link +'OtherEnergyFeedstocksWoodFibres') not in flow[1])
                     and (('imports ' + link +'PreConsumerWasteConstruction') not in flow[1])
                     and (('imports ' + link +'PreConsumerWasteProducts') not in flow[1])
                     and (('imports ' + link +'RecycledWoodFibre') not in flow[1])
                    and (('imports ' + link +'WoodCharcoal') not in flow[1])
                    and (('imports ' + link +'WoodPellets') not in flow[1])
                     and (('imports ' + link +'WoodPelletsWoodFibres') not in flow[1])
                    and (('imports ' + link +'SoftwoodRoundwood') not in flow[1])
                        and (('imports ' + link +'PostConsumerWood') not in flow[1])
                        ):
                
                                                            
                            consumption_flow_products = consumption_flow_products.set_index("target")
                           # consumption_flow_products=consumption_flow_products["value"].sum()
                            
                            
                          

                            consumed_products_0.append(consumption_flow_products)

                   

consumed_products_0 = pd.concat(consumed_products_0)  
imported = consumed_products_0.groupby(['sample']).sum()
imported

C:\Users\rla44\AppData\Local\Temp\ipykernel_5864\495863658.py:35: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  consumed_products_3 = consumed_products_0.groupby(['sample']).sum()

               value      quantity
sample
0       2.634595e+10  2.634170e+10
1       2.727976e+10  2.723104e+10
2       2.764709e+10  2.759139e+10
3       2.757293e+10  2.754990e+10
4       2.770893e+10  2.764354e+10
...              ...           ...
9995    2.821927e+10  2.819619e+10
9996    2.760941e+10  2.760417e+10
9997    2.847183e+10  2.845349e+10
9998    2.762356e+10  2.762072e+10
9999    2.808433e+10  2.806389e+10

[10000 rows x 2 columns]

In [10]:
df = pd.read_pickle('imported.pkl')

In [11]:
df

               value      quantity
sample
0       2.709420e+10  2.705896e+10
1       2.746023e+10  2.744862e+10
2       2.797670e+10  2.794876e+10
3       2.798302e+10  2.798005e+10
4       2.751656e+10  2.749383e+10
...              ...           ...
9995    2.783384e+10  2.779921e+10
9996    2.728425e+10  2.724421e+10
9997    2.778537e+10  2.775742e+10
9998    2.675478e+10  2.671560e+10
9999    2.756492e+10  2.754791e+10

[10000 rows x 2 columns]

In [19]:
consumed_products_total = pd.concat([imported,extracted_nationally])
consumed_products_total= consumed_products_total.groupby(['sample']).sum()

percentage_extracted_nationally = extracted_nationally/consumed_products_total
percentage_extracted_nationally

           value  quantity
sample
0       0.425404  0.425443
1       0.419768  0.420203
2       0.426963  0.427456
3       0.411376  0.411579
4       0.414528  0.415101
...          ...       ...
9995    0.412902  0.413100
9996    0.413249  0.413295
9997    0.416408  0.416565
9998    0.409754  0.409779
9999    0.422160  0.422338

[10000 rows x 2 columns]

In [16]:
percentage_extracted_nationally = percentage_extracted_nationally.groupby(['sample']).sum()
mean_val = percentage_extracted_nationally["value"].mean()
median_val = percentage_extracted_nationally["value"].median()
min_val = mean_val - percentage_extracted_nationally["value"].min()
max_val = mean_val - percentage_extracted_nationally["value"].max()

min_val

2175271380.476162